<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="porygonDiv">
    <img class="porygonsImage" src="http://ocdn.eu/pulscms-transforms/1/K0RktkqTURBXy9hN2U2OTg0NTU0MmVjYWZjZDQ4MWIwYjA2MDVhYjY3Ny5qcGVnk5UCzQMUAMLDlQLNAdYAwsOVB9kyL3B1bHNjbXMvTURBXy8xZDc0Y2I0MTcwNTk1MDQzNjYyOWNhYmQ2MDZmNTBmNi5wbmcHwgA" width="10%" height="10%"/>
</div>-->
<ul>
<li>
<a routerLink="home">Home</a>
</li>
  <li>
<a routerLink="about">About</a>
  </li>
</ul>
<router-outlet>
</router-outlet>
