
<div class="container color-dark">
  <div class="col verticalLine">
    <p>Search books</p>
  </div>
  <div class="col">
    <p>found ({{itemCount}}) <i *ngIf="isLoading" class="fa fa-spinner fa-spin" style="font-size:24px"></i></p>
  </div>
</div>
<div class="container color-light" [@goals]="goals.length">
  <div class="col verticalLine">
        <p class="sm">by {{criteria}}</p>

    <form>
      <input type="text" class="txt" name="item" [(ngModel)]="searchText">
      <input type="submit" class="btn" value="Search" ng-disabled="isLoading" (click)="search()">
    </form>
  </div>
  <div class="col">
    <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="getIsbn(i)">
    <a>  {{goal.title}} </a> <a [routerLink]="['/details', goal.isbn[0]]">-></a>
    </p>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
